/*=====================================================
MAGIC ENGINE
=====================================================*/

body::after{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    opacity:0;

    transition:.5s;

}

/*====================================*/

body.theme-burn::after{

    opacity:.35;

    background:

        radial-gradient(

            circle at bottom,

            rgba(255,90,30,.30),

            transparent 60%

        );

    animation:

        burnMove 5s linear infinite;

}

/*====================================*/

body.theme-freeze::after{

    opacity:.30;

    background:

        radial-gradient(

            circle,

            rgba(120,210,255,.20),

            transparent 70%

        );

    animation:

        freezeGlow 4s infinite;

}

/*====================================*/

body.theme-poison::after{

    opacity:.30;

    background:

        radial-gradient(

            circle,

            rgba(80,255,120,.15),

            transparent 70%

        );

    animation:

        poisonSmoke 6s linear infinite;

}

/*====================================*/

body.theme-shield::after{

    opacity:.25;

    background:

        radial-gradient(

            circle,

            rgba(255,220,120,.25),

            transparent 70%

        );

    animation:

        shieldPulse 2s infinite;

}

/*====================================*/

body.theme-healing::after{

    opacity:.25;

    background:

        radial-gradient(

            circle,

            rgba(120,255,180,.18),

            transparent 70%

        );

    animation:

        healPulse 3s infinite;

}

/*====================================*/

body.theme-curse::after{

    opacity:.35;

    background:

        radial-gradient(

            circle,

            rgba(170,80,255,.18),

            transparent 70%

        );

    animation:

        curseMove 5s linear infinite;

}

/*====================================*/

body.theme-shock::after{

    opacity:.30;

    background:

        linear-gradient(

            90deg,

            transparent,

            rgba(255,255,120,.18),

            transparent

        );

    animation:

        shockFlash 2s infinite;

}

/*=====================================================*/

@keyframes burnMove{

    50%{

        transform:translateY(-25px);

    }

}

@keyframes freezeGlow{

    50%{

        opacity:.55;

    }

}

@keyframes poisonSmoke{

    50%{

        transform:translateY(-20px);

    }

}

@keyframes shieldPulse{

    50%{

        transform:scale(1.03);

    }

}

@keyframes healPulse{

    50%{

        opacity:.45;

    }

}

@keyframes curseMove{

    50%{

        transform:rotate(.6deg);

    }

}

@keyframes shockFlash{

    50%{

        opacity:.55;

    }

}